@use './variables.scss' as *;

.button {
	text-transform: uppercase;
	text-decoration: none;
	color: $primary;
	font-family: $font-family-friday;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	background: $gradient-red;
	width: 207px;
	padding: 15px 25px;
	box-shadow: 4px 4px 4px #000;
	text-align: center;
	border-radius: 30px;

    @media screen and (min-width: 768px) {
        width: 230px;
    }
}
