@use './variables.scss' as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary;
    font-family: $font-family-friday;
    gap: 15px;
    position: absolute;
    bottom: 0;

    &__p {
        margin: 0;
    }

    &__nav {
       display: flex;   
       gap: 10px;    
       
       &-link {
            color: $primary;
            width: 24px;
            height: 24px;    
        }
    }

    &__web {
        text-decoration: none;
        color: $primary;
    }
}