@use './variables.scss' as *;

.body {
	margin: 0;
	padding: 0;
	background-color: $secondary;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
	height: 100%;
	width: 90%;
	background: $gradient-background;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 768px) {
		width: 80%;
	}
}

.main {
  text-align: center;

}

.services_section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	@media (min-width: 768px) {
	flex-direction: row;
	}

}


.counter {
    display: flex;
    flex-direction: column;
    align-items: center;

	&__p {
		color: $primary;
		font-family: $font-family-subtitle;
		font-size: $p-info-day-size-mobile;


        @media screen and (min-width: 768px) {
            font-size: $p-info-day-size-desktop;
        }
	}
}
