@use './variables.scss' as *;

.header {
	width: 80vw;
	border-bottom: 3px solid $secondary;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 15px;
	gap: 10px;

	@media screen and (min-width: 768px) {
		// width: 70vw;
		align-items: start;
		gap: 0px;
	}

	&__astra {
		width: 90px;

		@media screen and (min-width: 768px) {
			width: 100px;
			margin-right: 10px;
		}
	}

	&__a {
		@media screen and (min-width: 768px) {
			width: 100px;
			height: 100px;
			// margin-right: -90px;
			// margin-top: -10px;
		}
	}

	&__img {
		width: 90px;

		@media screen and (min-width: 768px) {
			width: 100px;
		}
	}

	&__title {
		@media screen and (min-width: 768px) {
			padding-top: 19px;
		}

		&-h1 {
			text-transform: uppercase;
			margin: 0;
			line-height: 0.9;
			font-size: $h1-size-mobile;

			@media screen and (min-width: 768px) {
				font-size: $h1-size-desktop;
			}

			&--black {
				font-family: $font-family-black;
				color: $primary;
				font-weight: 100;
				text-shadow: 4px 4px 4px #000;
			}

			&--friday {
				font-family: $font-family-friday;
				background: $red;
				color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
				transform: translateX(10px);
				text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);

				@media screen and (min-width: 768px) {
					transform: translateX(50px);
				}
			}

			// &--friday:before {
			// 	content: '';
			// 	display: block;
			// 	width: 100%;
			// 	height: 100%;
			// 	background: linear-gradient(to rigth, red, yellow);
			// 	mix-blend-mode: screen;
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// }
		}

		&-h2 {
			margin: 0;
			line-height: 0.9;
			margin-left: 25px;
			padding-top: 5px;
			font-family: $font-family-subtitle;
			color: $primary;
			font-size: $h2-size-mobile;
			font-weight: lighter;

			@media screen and (min-width: 768px) {
				font-size: $h2-size-desktop;
				padding-left: 50px;
			}
		}
	}
}
