---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss'
---

<Layout
  title="Ofertas Black Friday en AstracodeLAB - Diseño y Desarrollo Web"
  description="Aprovecha nuestras ofertas de Black Friday para tu Landing Page o Portfolio. Contrata diseño y desarrollo web profesional y gana visibilidad para tu negocio."
>


<main class="main">
  <p>HOLA</p>
</main>


</Layout>