---
import Logo from '../components/Logo.astro';
import Title from '../components/Title.astro';
import Card from '../components/Card.astro';
import Price from '../components/Price.astro';
import Countdown from '../components/Countdown.jsx';
import Button from '../components/Button.astro';
import Social from '../components/Social.astro';
---

<header>
  <Logo />
  <Title />
</header>

<main>
  <Countdown client:load/>
  <Card>
    <Price />
    <Button />
  </Card>
</main>

<footer>
  <Social />
</footer>
