---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss'
---

<Layout
  title='Promociones Black Friday en AstracodeLAB - Diseño y desarrollo web'
  description='Contrata tu Landing page o Portfolio a un precio reducido durante esta promoción especial de Black Friday. Compra una web para ganar visibilidad y ahorrar tiempo. '
>

<main class="main">
  <p>HOLA</p>
</main>


</Layout>