---
import '../styles/global.scss';
import { cardData } from '../assets/data';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown';
import Button from '../components/Button.astro';

import Discount from '../components/Discount.jsx';
---

<Layout
  title='Ofertas Black Friday en AstracodeLAB - Diseño y Desarrollo Web'
  description='Aprovecha nuestras ofertas de Black Friday y consigue un 20% de descuento extra. Contrata diseño y desarrollo web profesional con AstracodeLAB.'
>
  <main class='main'>
    <section class='discount'>
      <Discount client:load />
    </section>

    <section class='counter'>
      <Countdown client:load />

      <p class='counter__p'>Oferta válida hasta las 00:00 del viernes 28 de Noviembre</p>
      <!-- <Button /> -->
      <section class='services_section'>
        {cardData.map((card) => <Card {...card} />)}
      </section>
    </section>
  </main>
</Layout>
