---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss'
---

<Layout
  title='Black Friday'
  description='Promociones Black Friday en AstracodeLAB'
>

<main class="main">
  <p>HOLA</p>
</main>


</Layout>