---
import '../styles/global.scss';
import { cardData } from '../assets/data';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown';
import Button from '../components/Button.astro';
import Price from '../components/Price.astro';
---

<Layout
	title='Ofertas Black Friday en AstracodeLAB - Diseño y Desarrollo Web'
	description='Aprovecha nuestras ofertas de Black Friday para tu Landing Page o Portfolio. Contrata diseño y desarrollo web profesional y gana visibilidad para tu negocio.'
>
	<main class='main'>
		<div class='separator'></div>
		<section class='services_section'>
			{cardData.map((card) => <Card {...card} />)}
		</section>
		<div class='price__desktop'>
			<Price />
		</div>
		<section class='counter'>
			<p class='counter__p'>Oferta válida hasta las 00:00 del viernes 29 de Noviembre</p>
			<Countdown client:load />
			<Button />
		</section>
	</main>
</Layout>
