---
import '../styles/Header.scss';

---

<header class="header">
  <img class="header__img" src="../../public/images/Whitelogolab.webp" alt="Logo de AstracodeLAB">
  <section class="header__title">
    <h1 class="header__title-h1 header__title-h1--black">black</h1>
    <h1 class="header__title-h1 header__title-h1--friday">friday</h1>
    <h2 class="header__title-h2">Creamos webs</h2>
</section>   
</header>
