---
import '../styles/Header.scss';
---

<header class='header'>
  <div class='header__astra'>
    <a
      class='header__a'
      href='https://astracodelab.com/'
      aria-label='Ir a la página principal de AstracodeLAB'
      target='_blank'
      rel='noopener noreferrer'
    >
   
    </a>
  </div>
  <section class='header__title'>
    <h1 class='header__title-container'>
      <span class='header__title-h1 header__title-h1--black'>black</span>
      <span class='header__title-h1 header__title-h1--friday'>friday</span>
    </h1>
    <h2 class='header__title-h2'>Diseño web a medida</h2>
  </section>
</header>
